h1 {
    font-weight: 900;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px rgba(151, 151, 151, 0.7);
    color: #e9edf6;
}

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px rgba(151, 151, 151, 0.7);
    color: #e9edf6;
}

.rounded {
    border-radius: 13px !important;
}

strong {
    font-size: 1.3em;
}

p, .card-body {
    font-size: 1.2em !important;
    color: #e9edf6 !important;
}

.card {
    background-color: rgb(121, 122, 122);
    opacity: 0.8;
    box-shadow: 8px 8px 8px #5e5e5e;
}

.card-body h1 {
    font-size: 1.2em;
}