h1 {
    font-weight: 900;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px rgba(151, 151, 151, 0.7);
    color: #e9edf6;
}

h2 {
    font-size: 1.4em;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px rgba(151, 151, 151, 0.7);
    color: #e9edf6;
}

.rounded {
    border-radius: 10px !important;
}

strong {
    font-size: 1.3em;
}

p {
    color: #616161;
    line-height: 1.8em;
}

/* p, .card-body {
    font-size: 1.1em !important;
    color: #e9edf6 !important;
}

.card {
    background-color: rgba(121, 122, 122, 0.6);
    -webkit-box-shadow: 4px 4px 15px 3px rgba(153,153,153,0.26);
    -moz-box-shadow: 4px 4px 15px 3px rgba(153,153,153,0.26);
    box-shadow: 4px 4px 15px 3px rgba(153,153,153,0.26);
}

.card-body h1 {
    font-size: 1.2em;
} */