.heading {
    height: 100vh;
    background: url('../../assets/faiz.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 2.2em;
    color: white;
    padding-top: 4em;
    margin-bottom: 0;
}