$app-theme: #00de72;
$green: #0ACD47;
$purple: #300d4f;
$jumbotron: #5a6e9c;
$white: #e9edf6;
$watermelon: #F16A62;
$orange: #F99846;
$yellow: #F5DB2A;
$maroon: #6B1C31;
$light-purple: #80518E;
$grey: #616161;

h1 {
    font-weight: 900;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px rgba(151, 151, 151, 0.7);
    color: $white; }

h2 {
    font-size: 1.4em;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px rgba(151, 151, 151, 0.7);
    color: $white; }

.rounded {
    border-radius: 10px !important; }

strong {
    font-size: 1.3em; }

p {
  color: $grey;
  line-height: 1.8em; }