html, body {
    font-family: 'Raleway', sans-serif;
    background: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

body {
    padding-bottom: 70px;
    padding: 3%;
    -webkit-font-smoothing: antialiased;
}